p{
    background-color: aqua;
}
a{
    background-color: yellow;
}
div{
    background-color: lightgreen;
}
span{
    background-color: lightblue;
}
#span1{
    background-color: lightcoral;
}